.sjHead { 
	font-size: 48px;
	color: red;
}

.sjBody{
	background-image: url("../img/back.jpg");
  	background-size:cover;
  	color: #00FFAA;
  	
}

.sjGallary{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
}

.sjGallaryItem{
	margin-bottom: 20px;
}

.bookBody{
	background-image: url("../img/book.jpeg");
  	background-size:cover;
  	color: #00FFAA;
  	
}

.lifeBody{
	background-image: url("../img/life.jpg");
  	background-size:cover;
  	color: #00FFAA;
  	
}

.projectBody{
	background-image: url("../img/project.jpeg");
  	background-size:cover;
  	color: #00FFAA;
  	
}

.studyBody{
	background-image: url("../img/study.jpeg");
  	background-size:cover;
  	color: #00FFAA;
  	
}

.techBody{
	background-image: url("../img/tech.jpeg");
  	background-size:cover;
  	color: #00FFAA;
  	
}