.sjHead { 
	font-size: 48px;
	color: red;
}

.sjBody{
	background-image: url("../img/back.jpg");
  	background-size:cover;
  	color: #00FFAA;
}

.sjGallary{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
}

.sjGallaryItem{
	margin: 20px;
}